SERVER_PORT=3000

ROUTE_PREFIX=/api
SWAGGER_PREFIX=/api-info

BASE_URL=localhost:3000

JWT_ACCESS_LIFETIME=86400
JWT_ACCESS_SECRET=YvcMg2GW6gZjAwdramXafS9lHaQ9txbvSHZNHDDR
JWT_REFRESH_LIFETIME=2592000
JWT_REFRESH_SECRET=SOv2cT29VqxrV1Q9J8M6CALGzTYflAR2wXJaiSQ1

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=password
DB_DATABASE=database

BROKER_URL=amqp://user:password@127.0.0.1:5672/vhost
BROKER_QUEUE=queue

REDIS_HOST=localhost